#btn1{
    background-color: #1750bb;
    border-radius: 55px;
    width: 200px;
    height:46px;
    color:aliceblue;
    font-family: sans-serif ;
    margin-right: 20px;
}

#nav{
    justify-content: center;
        margin-top: -9px;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem;
    padding-left: 2.5rem;
    font-weight: 500;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    margin-left: 63px;
}
#icon{
    margin-right: 35px;
    font-size: 30px;
    padding: 7px
}
img,svg {
    vertical-align: middle;
    margin-left: 53px;
}
.background-image {
    background-repeat: no-repeat;
    margin-top:-181px;
}
.img-position{
                margin-top: -245px;
                margin-left: 630px;
                height: 378px;
                width: 571px;
}
